#container{
    position: relative;
    display: block;
    width: 50%;
}
#main_image{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#overlay_image{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    left: 10%;
    width: 100%;
    height: 100%;
}
.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}